.App {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;

	.container-outer {
		height: 100%;
		max-width: 1200px;
	}

	.container-inner {
		height: 100%;
		max-width: 1050px;
	}

	.h1_bold {
		font-size: 48px;
		font-weight: 800;
	}

	h1 {
		font-size: 38px;
		font-weight: 600;
	}

	h2 {
		font-size: 20px;
		font-weight: 400;
	}

	.label {
		line-height: 1.1;
		font-size: 14px;
		font-weight: 700;
	}

	.card-title {
		font-size: 18px;
		font-weight: 700;
	}

	.subtext-small {
		line-height: 1.1;
		font-size: 12px;
		font-weight: 400;
		color: #606060;
	}

	.subtext {
		line-height: 1.1;
		font-size: 14px;
		font-weight: 400;
		color: #606060;
	}

	.subtext-regular {
		font-size: 14px;
		font-weight: 400;
	}

	.link {
		text-decoration: underline;
		font-size: 14px;
		font-weight: 700;
	}

	.hoverable {
		transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			color: black;
		}
	}

	.itallic {
		font-family: 'Parisienne', cursive;
		font-size: 38px;
		font-weight: 400;
		font-style: italic;
	}
}
